<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <clear/>
    <!--<remove name="LocalSqlServer"/>-->
    <add name="LocalSqlServer" connectionString="Data Source=.;Initial Catalog=welfareServices;Integrated Security=true;" providerName="System.Data.SqlClient"/>
    <add name="welfareServicesConnectionString" connectionString="Data Source=.;Initial Catalog=welfareServices;Integrated Security=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--<connectionStrings>
    <clear/>
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Data Source=.\.;AttachDbFilename=welfareServices.mdf;Integrated Security=True;User Instance=false" providerName="System.Data.SqlClient"/>
    <add name="welfareServicesConnectionString" connectionString="Data Source=.\.;AttachDbFilename=welfareServices.mdf;Integrated Security=True;User Instance=false" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <roleManager enabled="true" />
    <!--<pages enableViewState="false"/>-->
    <authentication mode="Forms">
      <forms name="myapp1" timeout="60">

      </forms>
    </authentication>
    <authorization>
      <!--<allow users="?"/>-->
      <deny users="?"/>
    </authorization>
    <membership defaultProvider="myprovider">
      <providers>
        <clear/>
        <!--<add name="myprovider" type="system.web.security.sqlmembershipprovider, system.web, version=4.0.0.0, culture=neutral, publickeytoken=b03f5f7f11d50a3a" connectionstringname="LocalSqlServer" enablepasswordretrieval="false" enablepasswordreset="true" requiresquestionandanswer="false" applicationname="/" requiresuniqueemail="true" passwordformat="hashed" maxinvalidpasswordattempts="5" minrequiredpasswordlength="5" minrequirednonalphanumericcharacters="0" passwordattemptwindow="10" passwordstrengthregularexpression=""/>-->
        <add name="myprovider"
            type="System.Web.Security.SqlMembershipProvider"
            connectionStringName="LocalSqlServer"
            requiresQuestionAndAnswer="false"
            minRequiredPasswordLength="1"
            minRequiredNonalphanumericCharacters="0" />
      </providers>
    </membership>
  </system.web>

</configuration>
